{% extends 'base.html' %}

{% block content %}
  <h2>Strona główna</h2>
  {% if user.is_authenticated %}
      <h2>Do zrobienia</h2>
    <ul>
        {% for report in not_done_reports %}
            <li>{{ report.title }} - {{ report.status_of_the_report }} - {{ report.importance_of_the_report }}</li>
        {% empty %}
            <p>Nie ma żadnych zgłoszeń</p>
        {% endfor %}
    </ul>

    <h2>W trakcie</h2>
    <ul>
        {% for reportin in in_progress_reports %}
            <li>{{ reportin.title }} - {{ reportin.status_of_the_report }} - {{ reportin.importance_of_the_report }}</li>
        {% empty %}
            <p>Nie ma żadnych zgłoszeń</p>
        {% endfor %}
    </ul>

    <h2>Zakończone</h2>
    <ul>
        {% for reportdone in done_reports %}
            <li>{{ reportdone.title }} - {{ reportdone.status_of_the_report }} - {{ reportdone.importance_of_the_report }}</li>
        {% empty %}
            <p>Nie ma żadnych zgłoszeń</p>
        {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
